### MODE ###
mode = standard
#mode = fuzzy

### OPERATION ###
operation = search
#operation = self-join
#operation = join
#operation = knn-search
#operation = knn-self-join
#operation = knn-join
#operation = self-closest-pairs
#operation = closest-pairs

### INPUT ###
query_file = data/test_input_R.csv
input_file = data/test_input_S.csv
query_id = 0
max_lines = -1

### FILE PARSING ###
fuzzyset_column = 1
set_column = 2
tokens_column = 3
column_delimiter = ;
token_delimiter = ,
header = false

### OUTPUT ###
return_counts = true
output_file = out.txt

### SIMILARITY ###
sim_threshold = 0.8

### TOP-k ###
k = 3