{
    "query_file":"data/test_input_R.csv",
    "input_file":"data/test_input_S.csv",
    "max_lines":"-1",
    "set_column":"1",
    "dataSource": "csv",
    "elements_column":"2",
    "tokens_column":"3",
    "weights_column":"4",
    "column_delimiter":";",
    "token_delimiter":",",
    "header":"false",
    "tokenizer":"word",
    "qgram":3,
    "output_file":"out.txt",
    "log_file":"logs/app.log",
    "mode":"standard",
    "join_type":"threshold",
    "threshold":"0.5",
    "k":"3"
}